CREDITCOIN_CHAIN_ID=102031
CREDITCOIN_RPC_HTTP=https://rpc.cc3-testnet.creditcoin.network
CREDITCOIN_RPC_WS=wss://rpc.cc3-testnet.creditcoin.network
CREDITCOIN_BLOCK_PROVER_ADDRESS=0x0000000000000000000000000000000000000FD2
CREDITCOIN_CHAIN_INFO_ADDRESS=0x0000000000000000000000000000000000000fd3
ATTESTCOIN_PROOF_BUILDER_URL=
SEPOLIA_CHAIN_ID=11155111
SEPOLIA_RPC_HTTP=
SEPOLIA_RPC_WS=
ETHEREUM_CHAIN_ID=1
ETHEREUM_RPC_HTTP=
ETHEREUM_RPC_WS=
WORKER_PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=
DATABASE_URL=
DATABASE_DIRECT_URL=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
R2_BUCKET_NAME=
NEXT_PUBLIC_CREDITCOIN_CHAIN_ID=102031
NEXT_PUBLIC_CREDITCOIN_RPC_HTTP=https://rpc.cc3-testnet.creditcoin.network
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_APP_URL=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
